<configuration>
    <!-- Global logging level -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Logging level for package eric.test -->
    <logger name="org.ijntema.eric" level="debug" />

    <!-- Console appender definition -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>
